.menu{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 0 40px;
    &-link{
        color: inherit;
    }
}




@media screen and (max-width: 1023px) {
    .menu{
        display: none;
    }

}

@media screen and (max-width: 1023px) {
    .menu{
        position: fixed;
        right: 0;
        top: 0;
        bottom: 0;
        background-color:white;
        width: 300px;
        z-index: 9;
        border-left: 1px solid $gray-lighter-coler;
        flex-direction: column;
        gap: 10px 0;
        padding-top: 60px;
        align-items: stretch;
        transform: translateX(100%);
        transition: all 0.2 linear;
    }
}
